.card{
    width: 350px;
    height: 450px;
    border: 1px solid gray;
    margin: 2px;
    box-shadow: 2px 2px 4px gray;
}
.player-img{
    width: 50%;
}
.card-btn{

    padding: 9px 15px;
    margin: 30px;
    border: none;
    background: wheat;
    color: black;

}